* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 250px;
  height: 350px;
  overflow-y: scroll;
  background: #87cefa;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-bottom: 2px solid #ffffff;
}
.title {
  margin-left: 8px;
  color: #000000;
  font-family: "Cabin", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.main {
  color: #040404;
  font-size: 28px;
  background: #67bcf1;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

#main_container .box button {
  margin-right: 10px;
  position: relative;
  padding: 6px;
  border-radius: 6px;
  font-weight: bold;
  border: 2px solid #000000;
}

#main_container .box button:hover {
  background: #00308f;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#73c2fb, #48d1cc);
}
::-webkit-scrollbar-thumb {
  background: #00308f;
  border-radius: 5px;
}
